

html {
  margin-top: 2%;
  margin-bottom: 8%;
  margin-left: 7%;
  margin-right: 7%;
  background-color: #F2F2F2;
}



body{
  margin-top:40px;
  margin-bottom: 40px;
}

footer {
  position: fixed;
  height: 10%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F2F2F2;
  text-align: center;
}

header {
  background-color: #F2F2F2;
  position: fixed;
  height: 10%;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


a:active {
  opacity: 100%;
}

a:hover {
  opacity: 100%;
}

.livre {
  opacity: 50%;
  width: 4%;
  margin-left: auto;
  margin-right: auto;

}

.livreouvert {
  opacity: 50%;
  width: 7%;
  margin-left: auto;
  margin-right: auto;
}


.titre {
  margin-top: 4%;
}

.soustitre {
  margin-top: 7%;
}

.colonnes2  {
  margin-top: 8%;
  columns: 26em;
  column-gap: 5%;
}

.flex-container {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.flex-container2 {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


.p1 {
width: 47%;
min-width: 26em;
text-align: right;
}

.p2{
  width: 47%;
  min-width: 26em;
  align-self: flex-end;

}

.p3{
  width: 47%;
  min-width: 26em;
  align-self: flex-end;

}
.exerge {
  margin-top: 8%;
}

.pcentre {
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 5%;
}

.pdécalé {
  margin-left: 10%;
  margin-top: 8%;
}

.margintop10{
  margin-top: 10%;
}

.margintop5{
  margin-top: 5%;
}

.margintop2pdécalé{
  margin-top: 2%;
  margin-left: 22%;
}

.aligndroit {
  text-align: right;
  margin-right: 52%;
}


.aligndroittop10{
  text-align: right;
  margin-right: 52%;
  margin-top: 10%;
}

.pcaligngauche {
  margin-left: 52%;
  margin-top: -24%;
}

.pcaligngauche2 {
  margin-left: 52%;
  margin-top: -30%;
}

.pcaligngauche3 {
  margin-left: 52%;
  margin-top: -55%;
}

.paligngauche50 {
  width: 50%;
  margin-top: 5%;
}

.fit-picture {
  margin-left: auto;
  margin-right: auto;
  width: 6%;
}
